# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
cache: packages
warnings_are_errors: true
sudo: false

matrix:
  include:
  - r: devel 
  - r: release
  - r: 3.6
  - r: 3.5
  - r: 3.4
  - r: 3.3
  - r: 3.2

r_packages:
  - covr

after_success:
- Rscript -e 'covr::codecov()'